<h1>Edit Animal</h1>

<form action="/animals/<%= index %>" method="POST">
  <%#
    This hidden input is necessary for Sinatrato recognise
    this as a PATCH request.
  %>
  <input type="hidden" name="_method" value="PATCH">

  <p>
    <label for="species">Species</label>
    <br>
    <input type="text" id="species" name="species" value="<%= animal %>">
  </p>

  <input type="submit" value="Update Animal">
</form>
