<h1>Add Animal</h1>

<form action="/animals" method="POST">

  <p>
    <label for="species">Species</label>
    <br>
    <input type="text" id="species" name="species">
  </p>

  <input type="submit" value="Add Animal">
</form>
