<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lost Cats</title>
    <base href="/">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <div class="flex-h">
        <a href="/lostcats" class="site-name">Lost Cats</a>
        <a class="btn" href="/lostcats/new">Add Advert</a>
      </div>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
