<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Web Application</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
