<h1>Add Lost Cat</h1>

<form action="/lostcats" method="POST">

  <p>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name">
    <br>
    <label for="about">About</label>
    <br>
    <textarea id="about" name="about"></textarea>
  </p>

  <input type="submit" value="Add Lost Cat">
</form>
