<h2>Edit Advert</h2>

<form action="/lostcats/<%= id %>" method="POST">
  <p>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password">
  </p>
  <input type="submit" value="Save">
</form>