<h2>Add Advert</h2>

<form action="/lostcats" method="POST">
  <p>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name">
    <br>
    <label for="description">Description</label>
    <br>
    <textarea id="description" name="description"></textarea>
    <br>
    <label for="mobile">Mobile</label>
    <br>
    <input type="text" id="mobile" name="mobile">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" id="password" name="password">
  </p>
  <input type="submit" value="Save">
</form>
