<h1>Edit Lost Cat</h1>

<form action="/lostcats/<%= id %>" method="POST">
  <%#
    This hidden input is necessary for Sinatrato recognise
    this as a PATCH request.
  %>
  <input type="hidden" name="_method" value="PATCH">
  <p>
    <label for="name">Name</label>
    <br>
    <input type="text" id="name" name="name">
    <br>
    <label for="description">Description</label>
    <br>
    <textarea id="description" name="description"></textarea>
    <br>
    <label for="mobile">Mobile</label>
    <br>
    <input type="text" id="mobile" name="mobile">
  </p>
  <input type="submit" value="Save">
</form>
