<h2>Profile</h2>
<section>
  <h4>Username:</h4>
  <p>
    <%= @user.id %>
  </p>
  <h4>Name:</h4>
  <p>
    <%= @user.name %>
  </p>
  <h4>Email:</h4>
  <p>
    <%= @user.email %>
  </p>
  <h4>Mobile:</h4>
  <p>
    <%= @user.mobile %>
  </p>
</section>